<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>14.03.2020</small>
  </div>
  <div>
    <p>We found a potential security vulnerability in one of your dependencies.</p>
    <p>We found a potential security vulnerability in one of your dependencies.</p>
    <p>We found a potential security vulnerability in one of your dependencies.</p>
    <p>We found a potential security vulnerability in one of your dependencies.</p>
  </div>
</div>
